container { 
    margin-top: 10px; 
}

.quizArea { 
    padding: 10px; 
}

.form-inline {
    display: none;
}

#name-text,
#highScoreList { 
    padding: 10px; 
    margin: 10px; 
}

#highScoreHeadline {
    display: none; 
}